<div class='container'>
  <SeoulMap @class='' @id='map'
    @latitude={{this.latitude}}
    @longitude={{this.longitude}}
    @scale={{this.scale}}
    @geoJson={{this.geoJson}}
    @projection='geoMercator'
    as |feature|>
      <MapFeature @feature={{feature}}/>
  </SeoulMap>
  {{outlet}}
</div>
