<div class='container'>
  <SeoulMap @class='' @id='map'
    @latitude={{this.latitude}}
    @longitude={{this.longitude}}
    @scale={{this.scale}}
    @geoJson={{this.geoJson}}
    @projection='geoMercator'
    as |features path projection|>
      {{#each features as |feature|}}
        <MapFeature @feature={{feature}}/>
      {{/each}}
      {{#each this.model as |station|}}
        <StationFeature
          @station={{station}}
          @path={{path}}
          @projection={{projection}}/>
      {{/each}}
  </SeoulMap>
  {{outlet}}
</div>
